<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
</head>

<body>
    <h1>Pig Latinizer!</h1>
    <%# "Your @string is piglatinized to: "  %>
    <%= @piglatin%>

</body>

</html>